.clients__title {
    margin-top: 0;
    margin-bottom: 30px;
    
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-heading-color);
   
   @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 479px) {
           justify-content: center;
        }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 92px;
    
    border: 1px solid var(--main-icons-color);
    border-radius: 4px;

    transition: border-color var(--anima-fast);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
    @media screen and (min-width: 768px) {
        width: 226px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}



.clients__logo {
    fill: var(--main-icons-color);

    transition: fill var(--anima-fast);
}

.clients__link:hover .clients__logo--icon-color,
.clients__link:focus .clients__logo--icon-color {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}
