.contacts {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
    }
}
    


.contacts__link {
    // display: flex;
    // justify-content: center;
    // gap: 10px;
    @media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;

        color: var(--primary-text-color);
    
        transition: color var(--anima-fast);

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    
    }

    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;

    // color: var(--primary-text-color);

    // transition: color var(--anima-fast);


    &:hover,
    &:focus {
        color: var(--accent-color);
    }

   
}
.contacts__mail,
.contacts__phone {
    fill: currentColor;
}

.contacts__mail {
    @media screen and (max-width: 768px) {
        width: 14px;
        height: 10px;
    }
}
.contacts__phone {
    @media screen and (max-width: 768px) {
    width: 10px;
    height: 14px;
    }
}