.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer--bg {
    background: var(--background-color);
}

.footer__adress {
    margin-right: 70px;
}

.footer__container {
    display: flex;
}

.footer__logo {
    margin-bottom: 20px;
}