.logo {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    
    letter-spacing: 0.03em;

    color: var(--accent-color);

    @media screen and (min-winght: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo__header--color {
    color: var(--primary-heading-color);
    
    @media screen and (min-winght: 1200px) {
        color: var(--secondary-logo-color);
    }
   
}

.logo__footer--color {
    color: var(--primary-color);
}