.networks {
    display: block;
    justify-content: center;

    margin-bottom: 60px;
    // width: 206px;
    // margin-right: 93px;
    padding: 0;
    @media screen and (min-width: 768px) {
            margin-bottom: 102px;
        }
}

.networks__title {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-color);

    @media screen and (min-width: 768px) {
            margin-top: 0;
            margin-bottom: 20px;
        }
}