.networks {
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    padding: 0;
   
    @media screen and (min-width: 1200px) {
        width: 206px;
        margin-right: 93px;
        margin-bottom: 0;
    }
}

.networks__title {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-color);

    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
        text-align: start;
        margin-top: 14px;
    }
}