.networks {
    display: block;
    width: 206px;
    margin-right: 93px;
    padding: 0;
}

.networks__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-color);
}